<%= form_for(@active) do |f| %>
  <% if @active.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@active.errors.count, "error") %> prohibited this active from being saved:</h2>

      <ul>
      <% @active.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :channelid %><br />
    <%= f.text_field :channelid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
