<h1>Listing events</h1>

<table>
  <tr>
    <th>Channelid</th>
    <th>Command</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.channelid %></td>
    <td><%= event.command %></td>
    <td>
<%if event.status == 0%>
<b>Create</b>
<%elsif event.status == 1%>
<b>In queue</b>
<%else%>
<b>Send to host</b>
<%end%>
</td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
