<p id="notice"><%= notice %></p>

<p>
  <b>Channelid:</b>
  <%= @event.channelid %>
</p>

<p>
  <b>Command:</b>
  <%= @event.command %>
</p>

<p>
  <b>Status:</b>
  <%= @event.status %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
